@inject NavigationManager navigationManager

<div class="d-flex">
    <CustomNavLink IsActive="@(location == "meals" ? true : false)" Href="/meals" Icon="@Icons.Material.Filled.Dashboard">Meals</CustomNavLink>

    <CustomNavLink IsActive="@(location == "mealplan" ? true : false)" Href="/mealplan" Icon="@Icons.Material.Filled.Dns">Meal plan</CustomNavLink>

    <CustomNavLink IsActive="@(location == "grocerylist" ? true : false)" Href="/grocerylist" Icon="@Icons.Material.Filled.Settings">Grocery list</CustomNavLink>

    <CustomNavLink IsActive="@(location == "help" ? true : false)" Href="/help" Icon="@Icons.Material.Filled.Help">Help</CustomNavLink>
</div>

@code {
    private MudTheme Theme = new MudTheme();
    private string location { get => navigationManager.Uri.Split(navigationManager.BaseUri)[1].Split("?")[0]; }

    protected override void OnInitialized()
    {
        navigationManager.LocationChanged += LocationChanged;

        base.OnInitialized();
    }

    private void LocationChanged(object sender, EventArgs e) {
        StateHasChanged();
    }
}