@page "/"
@attribute [Authorize]
@implements IDisposable
@inject IMealPlanStateContainer _mealPlanStateContainer
@inject ISnackbar _snackbar
@inject NavigationManager _navigationManager

<MudStack Spacing="0" Style="height: calc(100vh - 56px)">
    <MudPaper Class="rounded-t-0">
        <MudGrid Spacing="0" Class="my-1">
            <MudItem xs="4" Class="d-flex align-center flex-row justify-start pl-1">
                <MudIconButton OnClick="@(() => _navigationManager.NavigateTo("/account"))" Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Primary" />
            </MudItem>
            <MudItem xs="4" Class="d-flex align-center flex-row justify-center">
                @if (_mealPlanStateContainer.IsCurrentWeek())
                {
                    <MudText Typo="Typo.h6">Week @GetWeekNumber()</MudText>
                }
                else
                {
                    <MudButton Variant="Variant.Text"
                               Color="Color.Inherit"
                               EndIcon="@Icons.Material.Filled.Refresh"
                               Disabled="_mealPlanStateContainer.IsLoadingWeek"
                               OnClick="GoToCurrentWeek">
                        <MudText Typo="Typo.h6">Week @GetWeekNumber()</MudText>
                    </MudButton>
                }
            </MudItem>
            <MudItem xs="4" Class="d-flex align-center flex-row justify-end pr-1">
                @if (_mealPlanStateContainer.SelectedDateHasMeal)
                {
                    <RemoveMealButton />
                }
                <MudIconButton Icon="@Icons.Material.Filled.EditCalendar" Color="Color.Primary" />
            </MudItem>
        </MudGrid>

        <MudDivider Class="mb-4" DividerType="DividerType.Middle" />
        <MudStack Class="mb-3">
            <MealPlanWeekOverview />
        </MudStack>
    </MudPaper>

    <div style="height: calc(100vh - 56px - 48px)" class="overflow-y-auto">
        @if (_mealPlanStateContainer.IsLoadingWeek)
        {
            <MudProgressLinear Indeterminate Color="@Color.Primary" />
        }
        else if (_mealPlanStateContainer.MealPlan == null)
        {
            <CreateMealPlanButton />
        }
        else if (_mealPlanStateContainer.MealPlan.Id > 0)
        {
            <MealDisplayComponent />
        }
    </div>

</MudStack>

@code {
    protected override void OnInitialized()
    {
        _mealPlanStateContainer.CurrentSnackbar = _snackbar;
        _mealPlanStateContainer.OnStateChanged += StateHasChanged;
    }

    private int GetWeekNumber() =>
        System.Globalization.ISOWeek.GetWeekOfYear(_mealPlanStateContainer.SelectedWeekStart);

    private Task GoToCurrentWeek() =>
        _mealPlanStateContainer.NavigateToWeek(DateTime.Now);

    public void Dispose()
    {
        _mealPlanStateContainer.OnStateChanged -= StateHasChanged;
    }
}
